* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg, #0a0a0a, #3a4452);
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .bodyclr {
            border: 1px solid #717377;
            padding: 30px;
            border-radius: 30px;
            background-color: transparent;
            box-shadow: 0px 3px 15px rgba(113, 115, 118, 0.6);
            width: 360px;
        }

        input {
            width: 100%;
            border: none;
            padding: 24px;
            margin-bottom: 20px;
            background: transparent;
            box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
            font-size: 40px;
            text-align: right;
            cursor: pointer;
            color: #ffffff;
            border-radius: 10px;
        }

        input::placeholder {
            color: #ffffff;
        }

        button {
            border: none;
            width: 60px;
            height: 60px;
            color: #ffff;
            font-size: 26px;
            background: #2a2d36;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.2s;
        }

        button:hover {
            background: #3a3d46;
            transform: scale(1.05);
        }

        button:active {
            transform: scale(0.95);
        }

        .operator {
            color: rgba(28, 255, 12, 0.968);
        }

        .numbtn {
            display: grid;
            grid-gap: 15px;
            justify-content: center;
            grid-template-columns: repeat(4, 60px);
        }
        #calname{
            text-align: center;
        }
        .e {
            background-color: rgb(1, 242, 154);
            color: white;
        }

        .e:hover {
            background-color:rgb(11, 224, 100);
            transition:0.1s
        }
        #ac:hover{
            background-color: #558d80;
            transform-style: preserve-3d;
        }